#homediv{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: url('wp8271497-amazing-1920x1080-wallpapers.jpg');
    overflow: hidden;
    overflow-y: auto;
}

#text{
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    width: fit-content;
    min-height: min-content;
}

#sender{
    flex: 1;
    margin: 0;
    color: yellow;
    font-size: 10;
    font-weight: bold;
}

#content{
    margin: 0;
    color: white;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#ul {
    padding-top: 45px;
    list-style-type: none; 
    padding-bottom: 65px; 
}

#send{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(62, 62, 255);
    border: 3px solid black;
    border-radius: 5px;
}

#sendBar{
    flex: 1;
    padding: 5px;
    color: white;
    background-color: grey;
    border: 3px solid black;
    border-radius: 2px;
}

#sendbutton{
    margin-left: 10px;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    color: green;
    background-color: bisque;
    border: 3px solid black;
}

.navBar{
    position: fixed;
    width: 100%;
    flex: 1;
    top:0;
    background-color:rgb(62, 62, 255);
    border: 3px solid black;
    border-radius: 2px;
}

.tabButton{
    margin-left: 10px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(62, 62, 255);
}

.currentTabButton{
    margin-left: 10px;
    height: 50px;
    width: 100px;
    color: white;
    background-color:red;
}